/* BUTTON TELERIK */
.k-primary
  border-color #29abe2
  background-color #29abe2
  border-radius 2px

.k-primary:hover,
    .k-primary:active,
    .k-primary:focus,
    .k-primary:active:hover
  border-color #2fb8f3
  background-color #2fb8f3

.k-button
  border-radius 2px
  font-size 14px
  padding .35em 1em
  text-transform none
  &:hover
    &.k-grid-add
      .k-i-add
        background-position -48px -64px

.k-grid-add
  background-color #29abe2
  color #fff
  border-radius 4px
  .k-i-add
    background-position -48px -64px

.k-grid-add:hover,
    .k-grid-add:active,
    .k-grid-add:focus,
    .k-grid-add:active:hover
  background-color #2fb8f3
  color #fff
  border-color #2fb8f3
  text-decoration none

.k-grid-cancel
  background none
  border 1px solid #fff

.k-grid-cancel:active,
.k-grid-cancel:active:hover,
.k-grid-cancel:focus,
.k-grid-cancel:focus:hover
  background #eaeaea
  border 1px solid #eaeaea
  color #666

.back-button
  float left
  z-index 100
  position relative
