/* ALL INPUT ELEMENTS - TELERIK */
.k-input
  color #004456

.k-autocomplete, .k-dropdown-wrap, .k-numeric-wrap, .k-picker-wrap, .k-textbox
  border-width 0 0 1px 0

.k-dropdown-wrap
  &.k-state-hover
    background none

.name--details
  display block
  border-width 0 0 1px 0
  border-color #bbb
  width 100%
  padding 0 7px 3px 7px
  color #004456
  &:hover
    border-color #888
  &:focus
    border-color #0072c6
    outline initial

/* COMBOBOX */
.k-i-arrow-s
  background-position 0 -222px

.k-state-hover
  & > *
    & > .k-i-arrow-s
      background-position 0 -222px
      background-position 0 -222px

.k-widget
  &.k-state-border-down
    .k-select
      .k-i-arrow-s
        background-position 0 -188px
  &.k-combobox
    &.k-header
      width 100%
      display block
      .k-icon
        &.k-i-close
          display none

span
  &.k-dropdown-wrap
    &.k-state-default
      &.k-state-focused
        &.k-state-active
          &.k-state-border-down
            background none

.k-dropdown-wrap
  &.k-state-default
    &.k-state-active
      border none
      .k-select
        border none

/* TEXT NUMBER */
.k-numeric-wrap
  &.k-state-default
    &.k-state-hover
      .k-select
        background-color #fff

.k-numerictextbox
  .k-select
    .k-link
      span
        &.k-i-arrow-n
          background-position 0 -195px
        &.k-i-arrow-s
          background-position 0 -226px

.k-link
  &.k-link-increase
    &.k-state-selected
      background-color #fff
  &.k-link-decrease
    &.k-state-selected
      background-color #fff

/* DATEPICKER */
.k-picker-wrap
  &.k-state-default
    &.k-state-hover
      background-color initial
    &.k-state-focused
      &.k-state-hover
        &.k-state-active
          &.k-state-border-down
            background-color #888
      &.k-state-active
        &.k-state-border-down
          background-color #888
    &.k-state-active
      .k-select
        border none


.k-edit-buttons.k-state-default
  display none

.k-edit-buttons.k-state-default.active
  display block

/* TEXTBOX */
.text-box
  border-color #ccc
  border-width 0 0 1px 0
  display block
  width 100%

/* On Off Switch*/
.onoffswitch
  position relative
  width 120px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  height 24px

.onoffswitch-checkbox
  width 100%
  position absolute
  height 30px
  opacity 0
  &:checked
    & + .onoffswitch-label
      .onoffswitch-inner
        &.switch-parallel
          &:before
            background #c8c8c8
            color #333
            border 1px solid #c8c8c8
            cursor pointer!important
            border-top-left-radius 3px
            border-bottom-left-radius 3px
        &.switch-sequence
          &:after
            background-color #EEEEEE
            color #999999

.onoffswitch-label
  display block
  overflow hidden
  cursor pointer
  text-align center

.onoffswitch-inner
  display block
  width 100%
  transition margin 0.3s ease-in 0s
  &.switch-on
    &:before
      content "On"
      background-color #EEEEEE
      color #999999
      border-left 1px solid #c8c8c8
      border-top 1px solid #c8c8c8
      border-bottom 1px solid #c8c8c8
      border-top-left-radius 3px
      border-bottom-left-radius 3px
  &.switch-off
    &:after
      content "Off"
      background-color #39ADE5
      color #FFFFFF
      border-right 1px solid #c8c8c8
      border-top 1px solid #c8c8c8
      border-bottom 1px solid #c8c8c8
      border-top-right-radius 3px
      border-bottom-right-radius 3px
  &.switch-parallel
    &:before
      content "Parallel"
      background-color #EEEEEE
      color #999999
      border 1px solid #c8c8c8
      border-top-left-radius 3px
      border-bottom-left-radius 3px
  &.switch-sequence
    &:after
      content "Sequence"
      background #c8c8c8
      color #333
      border 1px solid #c8c8c8
      cursor pointer!important
      border-top-right-radius 3px
      border-bottom-right-radius 3px

.onoffswitch-inner:before, .onoffswitch-inner:after
  display block
  float left
  height 30px
  padding 0 7px
  line-height 30px
  font-size 14px
  color white
  box-sizing border-box
  text-align center
  margin-left 0px

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner.switch-on:before, .onoffswitch-checkbox:checked + input + .onoffswitch-label .onoffswitch-inner.switch-on:before
  background-color #39ADE5
  color #FFFFFF

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner.switch-off:after, .onoffswitch-checkbox:checked + input + .onoffswitch-label .onoffswitch-inner.switch-off:after
  background-color #EEEEEE
  color #999999

.onoffswitch-custom
  cursor pointer
  width 100%
  .onoffswitch-checkbox
    cursor pointer
    left 0
    width 45%
    position absolute
    height 30px
    opacity 0
    &:checked
      & + .onoffswitch-label
        .switch-on-custom
          border-radius 5px 0 0 5px
          background-color #39ADE5
          color #fff
        .switch-off-custom
          border-radius 0 5px 5px 0
          background-color #eee
          color #999
  .onoffswitch-label
    overflow hidden
    cursor pointer
    text-align center
  .onoffswitch-inner
    border-radius 0 5px 5px 0
    float left
    width calc(50% - 10px)
    transition margin 0.3s ease-in 0s
    padding 5px

.onoffswitch-custom .onoffswitch-inner:before, .onoffswitch-inner:after
  display block
  float left
  height 30px
  padding 0
  line-height 30px
  font-size 14px
  color white
  box-sizing border-box
  text-align center
  margin-left 0px

.switch-on-custom
  background-color #EEEEEE
  color #999
  border-radius: 0 5px 5px 0;
.switch-off-custom
  background-color #39ADE5
  color #fff



.button-switch
  position absolute
  height 100%
  opacity 0

.button-switch-sequence
  width 80px

.button-switch-parallel
  width 65px
