/* BREADCRUMBS -- START */
.breadcrumbs{ margin: 15px 0; padding: 0px; list-style: none; }
.bredcrumbs--item{ display: inline-block; }
.breadcrumbs--link{ color: #337ab7; }
.breadcrumbs--link:after{content: " > ";}
.bredcrumbs--item:last-child .breadcrumbs--link:after{ content: ""; }
.breadcrumbs--link_active{ font-weight: bold; }
.breadcrumbs--link_active:active,
.breadcrumbs--link_active:hover,
.breadcrumbs--link_active:focus{ color: #337ab7; cursor: default; }
/* BREADCRUMBS -- END */
