.movie-box
  display flex
  margin-top 35px

.movie-box__half
  lost-column 1/2

.movie-box__image
  img
    display flex
    margin auto
    max-width 90%

.movie-boxe__info__year,
.movie-boxe__info__rating
  font-size 1.5rem

