.k-tabstrip
  .k-item
    &.k-state-active
      background-color #f4f4f4
      border-color #f4f4f4
      text-transform initial
      .k-link
        border-bottom 3px solid #004456

.k-tabstrip-items .k-state-default .k-link,
.k-tabstrip .k-item.k-state-active .k-link
  text-transform initial
  font-size 15px


.k-tabstrip>.k-content
  padding-left 0
  padding-right 0

.text-box_number
  width 100%