
// Grays
// --------------------------------------------------

$gray-darker  = #111
$gray-dark    = #333
$gray         = #666
$gray-light   = #ebebeb
$gray-lighter = #ddd
$gray-white   = #f0f0f0
$white        = #fff
$black        = #000


// Pallets
// --------------------------------------------------

$yellow      = #eade00
$blue        = #3b78e7
$red         = #cc0000
$green       = #afcc49


// Brands
// --------------------------------------------------

$text-color      = $gray-darker
$brand-primary   = $blue
$brand-success   = $green
$brand-info      = $blue
$brand-warning   = $yellow
$brand-danger    = $red


///
///  Elements
///

$navbar-color = #111

///
//  Backgrounds Colors
//
$bg-light-green = #95d063
$bg-green       = #19b45a
$bg-dark-green  = #15984c
$bg-dark-red    = #d45343
$bg-red         = #f6614f
$bg-orange      = #fc9836
$bg-yellow      = #ffcb48
$bg-light-gray  = #ebebeb!important

//
// 2. Spaces
// --------------------------------------------------

$space         = 2rem                 // Regular space margin
$space-xs      = ($space / 4)         // Extra small space margin
$space-sm      = ($space / 2)         // Small space margin
$space-md      = ($space + $space-sm) // Medium space margin
$space-lg      = ($space * 2)         // Large space margin
$space-xlg     = ($space * 4)         // Extra Large space margin

$space-gutter  = $space


//
// 3. Media Queries
// --------------------------------------------------

$screen-xs   = 520px  // Extra small screen / phone
$screen-sm   = 768px  // Small screen / tablet
$screen-md   = 992px  // Medium screen / desktop
$screen-lg   = 1200px // Large screen / wide desktop
$screen-xlg  = 1400px // Extra Large screen / wide desktop
$screen-xxlg = 1900px // Extra Large screen / wide desktop

// Rupture Settings
rupture.mobile-cutoff  = $screen-sm
rupture.tablet-cutoff  = $screen-md
rupture.desktop-cutoff = $screen-lg
rupture.hd-cutoff      = $screen-xlg

rupture.scale          = 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg $screen-xxlg
rupture.scale-names    = '0' 'xs' 'sm' 'md' 'lg' 'xlg' 'hd'
rupture.anti-overlap   = -1px


//
// 4. Typography
// --------------------------------------------------

$text-size = 1.4rem
