/* GRID */

#grid--Details
  .k-header
    &.k-grid-toolbar
      &.ng-scope
        display none

.k-grid
  &.k-widget
    border none
    &.k-editable
      border-width 0
  table
    border-collapse collapse
  td
    padding .0em 1.286em

.k-grid-content
  &.k-auto-scrollable
    tr
      border-bottom 1px solid #e4e4e4


/* Table Header */
.k-grid-header
  th
    &.k-header
      padding-left 0
      .k-link
        color #004456
        font-weight bold
        position relative
        padding-top 1px
        padding-left 17px
        float left        

.k-grid-header th.k-header .k-link .k-icon.k-i-arrow-n,
        .k-grid-header th.k-header .k-link .k-icon.k-i-arrow-s
  position absolute


    /* Buttons */
.k-grid
  tbody
    .k-button
      min-width 0px
      min-width 30px
      padding 4px 2px 2px 8px
      border-radius 3px
      background none
      border none

.k-grid-content
  &.k-auto-scrollable
    .k-button
      &:active
        &:hover
          background-color #eaeaea

.k-button:active .k-i-edit, .k-button:active:hover .k-i-edit
  background-position -32px 0px

.k-button:active .k-i-delete, .k-button:active:hover .k-i-delete
  background-position -32px -16px

/* COLUMN MENU */
.k-header>.k-grid-filter, .k-header>.k-header-column-menu
  float none
  margin -.5em .0em -.4em 0em
  padding .4em .2em .5em 0.5em

.k-i-filter
  background-position -64px -33px

/* MODAL */
.k-window-title
  color #004456
  font-weight 600

.k-window
  & > div
    &.k-popup-edit-form
      padding 1em 15px

.k-edit-form-container
  padding 0
  label
    border 0px solid #000
    display block
    color #004456
    font-weight normal     
    span
      &:first-child
        width 100%
        display flex

.k-window-action
  &.k-link
    .k-icon
      &.k-i-close
        background-position -94px -16px

/* Buttons Bar Modal (footer Modal) */
.k-edit-form-container
  .k-edit-buttons
    border-width 0

.k-edit-buttons
  &.k-state-default
    a
      &.k-button
        &.k-button-icontext
          &.k-primary
            &.k-grid-update
              text-decoration none
              background-color #29abe2
              &:hover
                background-color #2fb8f3
                border-color #2fb8f3
      span
        display inline

.k-button
  &.k-button-icontext
    &.k-grid-cancel
      border-radius 3px
      border-color #fff
      background-color #fff
      &:hover
        border-color #eaeaea
        background-color #eaeaea
        color #333

.k-duplicate
  background-position -64px -240px

.k-grid-header th.k-header{ border-width: 0 0 1px 0px; }