.clearDiv
  clear both

.navbar-nav
  float initial

.menu__user-name
  margin-top 6px
  display inline-block
  font-size 13px
  color #fff
  &:hover
    color #fff

.navbar-fixed-top
  border-width 0
  position fixed

.navbar-inverse
  .navbar-toggle
    border none
  .navbar-nav
    & > li
      & > a
        color #fff

@media(max-width: 768px)     
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus
    color #fff
    background rgba(0,0,0, 0.2)
    margin 7px
    border-radius 3px

@media(max-width: 768px)
  ul#fastAccess
    width 95%
    margin auto
  .navbar-inverse
    .navbar-nav
      & > li
        & > ul
          & > li
            display inline-block
            width 98%
            height 33px
            margin .9%
            background rgba(0,0,0, 0.1)
            border-radius 3px

@media(max-width: 768px)     
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header
    padding 14px 0 0 0
    text-align center

@media(max-width: 768px)     
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse
    max-height 600px

.navbar
  background #004456
  min-height 30px

.navbar-brand
  float none
  display block
  background none
  width 170px
  height initial
  margin auto !important
  padding 7px

#fastAccess
  &.dropdown-menu
    left 0 !important
    background #00688a
    & > li
      & > a
        color #fff
        cursor pointer
        padding 3px 14px

#fastAccess.dropdown-menu > li > a:focus, #fastAccess.dropdown-menu > li > a:hover
  color #fff
  text-decoration none
  background-color #337ab7
  color #30b6bc
  background none

#rightSide
  position absolute
  height 40px
  top 0
  right 60px

.infoUser
  height 30px
  float right
  margin 5px
  .caret
    margin 10px 0 0 0px
    color #fff
  .dropdown-menu
    margin-top 4px
    background-color #00688a
    a
      color #fff
      height 36px
      line-height 30px
    .menu__btn-logoff
      width 100%
      border none
      line-height 36px
      color #fff
      background none
      text-align center
      padding 0
      outline initial

#menu
  position absolute
  width 40px !important
  height 40px !important
  display block !important
  right -45px
  top 0px
  background #00688a
  text-align center
  z-index 99999
  img
    margin-top 10px

#submenu
  position absolute
  background-color #004456
  width 288px
  top 49px
  right -45px !important
  padding 2px
  margin 0
  border-radius initial
  .arrow-up
    width 16px
    height 10px
    border-left 9px solid transparent
    border-right 9px solid transparent
    border-bottom 10px solid #004456
    position absolute
    top -10px
    right 55px
  li
    display block
    background #ccc
    float left
    margin 2px
    a
      display block
      width 90px
      height 93px
      background-color #00688a
      color #fff
      cursor pointer
      &:hover
        text-decoration none
        color #30b6bc
      i
        display block
        font-size 30px
        text-align center
        padding-top 15px
      span
        display block
        text-align center
        font-size 14px
        padding-top 10px

@media(max-width: 768px)
  #submenu
    right -46px !important

.dropdown-menu
  left initial !important
  right 0 !important

.fastAccess
  .dropdown-menu
    left initial !important
    right 0 !important

.flex-container
  padding 0
  margin 0
  list-style none
  display flex
  justify-content center
  height 40px
  width 100%

.flex-item
  padding 0px
  margin-top 5px
  text-align center
  margin-bottom 1px
  a
    font-size 13px

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover
  background-color #337ab7
  background none

.avatar
  background #fff
  width 25px
  height 25px
  border-radius 15px
  float left
  margin 3px 7px 0 0

.userName
  line-height 20px
  display block
  float left
  margin 5px 0 0 10px
  color #fff

.infoUser .dropdown-menu a:hover,
        .infoUser .dropdown-menu .menu__btn-logoff:hover
  color #30b6bc

#infoUser
  &:hover
    cursor pointer

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
  background-color #004456

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
  background none

@media (max-width: 767px)
  .navbar-toggle
    float left
    margin-left 0px
    margin-right 0px
    margin-top 3px
    margin-bottom 2px
  .navbar-header
    height 40px
  .flex-container
    display initial
    -webkit-flex-flow initial
    justify-content initial
  .flex-item
    background #00688a
  .navbar-inverse
    .navbar-toggle
      .icon-bar
        background #fff !important
    .navbar-collapse
      padding-bottom 7px
      background #00688a
  .userName
    display none
  #rightSide
    right 45px
  .navbar-brand
    position relative
    left -25px

@media (max-width: 767px)     
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover
    background-color #005672

@media (min-width: 768px)
  .navbar-brand
    position absolute
  .fastAcessMenu
    .navbar-nav
      & > li
        & > a
          padding-top 6px
          padding-bottom 6px
          &:hover
            border-bottom 3px solid #30b6bc
            background rgba(0,0,0,0.2)
  .infoUser
    .caret
      margin 0
      color #fff

@media (min-width: 768px)     
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover
    border-bottom 3px solid #30b6bc
    background rgba(0,0,0,0.2)

#menu-icone
  margin-top 5px
  color #fff
  position relative
  z-index 9999
  font-size 29px

@media (max-width: 1279px)
  .menu__user-name
    display none
  .nameDescriptionMenu
    display inline
  .infoUser
    .caret
      margin-top 10px

.accessForm
  .arrow-up
    top 190px

.arrow-up
  width 0
  position absolute
  height 0
  border-left 15px solid transparent
  border-right 15px solid transparent
  border-bottom 15px solid #004456

@media(max-width: 992px)
  .nav
    & > li
      & > a
        padding 10px
  .navbar-brand
    img
      height 17px
      position relative
      top 5px