/* PANEL */
.panel--title
  display block
  cursor pointer
  &:hover
    text-decoration none
  label
    font-weight 300

.toolbar--panelButton
  border 0px solid #000
  float right
  color #333

.wrap
  .panel_details
    margin-top 20px