/* ALL -- START */
body{ font-family: 'Open Sans', sans-serif; background: #efefef; padding-top: 40px;}
a, 
a:active,
a:hover,
a:focus{ outline: initial; }

.link { color: #337ab7; text-decoration: none; }
.link:active,
.link:hover,
.link:focus { text-decoration: none; }
/* ALL -- END */

/* SPRITE */
.k-column-menu .k-sprite, .k-drop-hint, .k-gantt-views>.k-current-view>.k-link:after, .k-grid-mobile .k-resize-handle-inner:after, .k-grid-mobile .k-resize-handle-inner:before, .k-grouping-dropclue, .k-icon, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view>.k-link:after, .k-tool-icon{
  background-image: url(../assets/images/sprite.png)
}

/* CONTENT -- START */
.wrap{ background: #fff; border: 1px solid #ccc; padding: 20px; clear: both }
.toolbar--title{ position: relative; color: #004456; text-transform: none; font-size: 18px; letter-spacing: -1px; margin-right: 10px; top: 2px; }
.button--text{ position: relative; top: -1px; }
/* CONTENT -- END */


/* STRUCTURE -- START */
.col-12
  width 100%

.col-6
  width 49%
  float left

.col-gapp
  margin-right: 2%

.col-5
  width 40%
  float left

.col-2
  width 17.5%
  float left
  text-align center
  margin 3px
/* STRUCTURE -- END */
